<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robust YouTube Video Search Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-4">YouTube Video Search</h1>
                <div class="search-container text-center">
                    <input type="text" id="search-input" class="form-control" placeholder="Search videos...">
                    <button id="search-btn" class="btn btn-primary mt-2">Search</button>
                </div>


		<div class="text-center mt-3">
                    <button id="start-task-btn" class="btn btn-secondary">Start Background Task</button>
                </div>

                <div id="video-list" class="video-list mt-4">
                    <!-- Video results will be displayed here -->
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

